{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "pure": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css",
        "libraryDirectory": "es"
      },
      "ant"
    ]
  ]
}
